<odoo>
    <!-- Action -->
    <record id="action_property" model="ir.actions.act_window">
        <field name="name">Properties</field>
        <field name="res_model">real.estate.property</field>
        <field name="view_mode">list,form</field>  <!-- Changed from tree to list -->
    </record>

    <!-- Menu -->
    <menuitem id="menu_real_estate_root" name="Real Estate"/>
    <menuitem id="menu_properties" name="Properties" parent="menu_real_estate_root" action="action_property"/>
</odoo>